<!DOCTYPE html>

<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <main class="main-content" layout:fragment="content">
        <div class="container p-5">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button type="button" class="btn btn-danger"><i class="bi bi-hash"></i>Add hashtag</button>
                                <button type="button" class="btn btn-light"><i class="bi bi-hash"></i>Lewandowski</button>
                                <button type="button" class="btn btn-dark"><i class="bi bi-hash"></i>Ethereum</button>
                                <button type="button" class="btn btn-light"><i class="bi bi-hash"></i>Bitcoin</button>
                                <button type="button" class="btn btn-dark"><i class="bi bi-hash"></i>Sport</button>
                                <button type="button" class="btn btn-light"><i class="bi bi-hash"></i>Polska</button>
                                <button type="button" class="btn btn-dark"><i class="bi bi-hash"></i>Crypto</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="./img/2.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>